name: Release Publish

on:
  push:
    branches: [ deploy, 3.x, 4.x ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: yarn
      - run: yarn semantic-release
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
